			<section$ class="image-aside">
				<div class="ui">
					<div class="image-aside--aside">
						<div class="image-aside--aside--text">
							<p>
								<strong>Devon Jade</strong> <br>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deleniti provident assumenda, <br> soluta debitis beatae voluptatibus, suscipit et inventore. Magnam praesentium laboriosam voluptates atque voluptas totam <br> repellat unde neque officia?
							</p>
						</div>
						<div class="image-aside--aside--image">
							<img src="./media/images/items.png" alt="Lorem Ipsum">
						</div>
					</div>
				</div>
			</section$>