			<section$ class="banner">
				<header$ id="test">header</header$>
				<footer$ class="test">footer</footer$>
				<h1$ class='test'>h1</h1$>
				<h2$ class='test' id="test">h2</h2$>
				<h3$ id="test" class="test">h3</h3$>
				<h4$ id="test" class='test'>h4</h4$>
				<h5$ id='test' class='test'>h5</h5$>
				<h6$>h6</h6$>
				<div class="ui">
					<a href=""><img src="http://i659.photobucket.com/albums/uu313/1stFloorFlatComputery/db1c44d1.png" alt="Good"></a>
					<%- includeComponents('content', component) %>
				</div>
			</section$>