<footer class="$ as-exemple">
	<div class="ui as-first">
		<div class="$--links">
			<div class="$--logo">
				<img src="./media/images/brand-logo.png" alt="">
			</div>
			<nav class="$--utils">
				<div class="$--title">Website Title</div>
				<ul>
					<li><a href="">Magazine</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="ui as-second">
		<div class="$--links">
			<nav class="$--utils">
				<ul>
					<li><a href="http://blog.lesieur.name/">Link 2</a></li>
					<li><a href="http://blog.lesieur.name/"><img src="./media/images/question.png" alt=""></a></li>
					<li><a href="http://blog.lesieur.name/"><img src="./media/images/yeah.png" alt=""></a></li>
					<li><a href="http://blog.lesieur.name/">Link 3</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="ui as-third">
		<div class="$--links">
			<div class="$--logo">
				<img src="./media/images/parent-brand-logo.png" alt="Purina">
			</div>
			<nav class="$--utils">
				<div class="$--title">Devon Jade</div>
				<ul>
					<li><a href="http://blog.lesieur.name/">Here</a></li>
				</ul>
			</nav>
			<nav class="$--utils">
				<div class="$--title">OverHere</div>
				<ul>
					<li><a href="http://blog.lesieur.name/">#id</a></li>
					<li><a href="http://blog.lesieur.name/">at@At.at</a></li>
					<li><a href="http://blog.lesieur.name/">YepYup</a></li>
				</ul>
			</nav>
			<nav class="$--utils">
				<div class="$--title">Area</div>
				<ul>
					<li><a href="">Last Link</a></li>
				</ul>
			</nav>
			<nav class="$--extend">
				<ul>
					<li><a href="http://blog.lesieur.name/">Privacy</a></li>
					<li><a href="http://blog.lesieur.name/">Legal</a></li>
					<li><a href="http://blog.lesieur.name/">International</a></li>
					<li><a href="http://blog.lesieur.name/">Newsletter</a></li>
					<li><a href="http://blog.lesieur.name/">What Else</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="ui as-fourth">
		<div class="$--copyright">
			Copyright - All right not reserved at all
		</div>
	</div>
</footer>