<footer class="footer-main">
	<div class="ui as-first">					
		<div class="footer-main--links">					
			<div class="footer-main--logo">
				<img src="./media/images/en-gb/brand-logo.png" alt="Friskies">
			</div>
			<nav class="footer-main--utils">
				<div class="footer-main--title">Website Title</div>
				<ul>
					<li><a href="">Magazine</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">FAQ</a></li>
					<li><a href="">Contact</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="ui as-second">
		<div class="footer-main--links">
			<nav class="footer-main--utils">
				<ul>
					<li><a href="http://blog.lesieur.name/"><img src="./media/images/it-it/question.png" alt="PURINA®, Your Pet, Our Passion®."></a></li>
					<li><a href="http://blog.lesieur.name/">Link 2</a></li>
					<li><a href="http://blog.lesieur.name/">Link 3</a></li>
					<li><a href="http://blog.lesieur.name/"><img src="./media/images/en-gb/pet-passion-tv.png" alt="petpassion.tv"></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="ui as-third">	
		<div class="footer-main--links">
			<div class="footer-main--logo">
				<img src="./media/images/en-gb/parent-brand-logo.png" alt="Purina">
			</div>
			<nav class="footer-main--utils">
				<div class="footer-main--title">Devon Jade</div>
				<ul>
					<li><a href="http://blog.lesieur.name/">Here</a></li>
				</ul>
			</nav>
			<nav class="footer-main--utils">
				<div class="footer-main--title">OverHere</div>
				<ul>
					<li><a href="http://blog.lesieur.name/">#id</a></li>
					<li><a href="http://blog.lesieur.name/">at@At.at</a></li>
					<li><a href="http://blog.lesieur.name/">YepYup</a></li>
				</ul>
			</nav>
			<nav class="footer-main--utils">
				<div class="footer-main--title">Area</div>
				<ul>
					<li><a href="">Last Link</a></li>
				</ul>
			</nav>
			<nav class="footer-main--extend">
				<ul>
					<li><a href="http://blog.lesieur.name/">Privacy</a></li>
					<li><a href="http://blog.lesieur.name/">Legal</a></li>
					<li><a href="http://blog.lesieur.name/">International</a></li>
					<li><a href="http://blog.lesieur.name/">Newsletter</a></li>
					<li><a href="http://blog.lesieur.name/">What Else</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="ui as-fourth">	
		<div class="footer-main--copyright">
			Copyright - Nestlé Italiana  S. p. A. - P. IVA: 00777280157 - Tutti i diritti riservati
		</div>
	</div>
</footer>