			<header class$="header-main as-exemple">
				<div class="ui">
					<div class="$--logo">
						<a href="http://blog.lesieur.name/" title="Blog de Bruno Lesieur">
			                <img alt="Blog de Bruno Lesieur" src="./media/images/website-logo.png">
			            </a>
		                <div class="$--breadcrumb"><a href="http://blog.lesieur.name/">Home</a> &gt; Product</div>
					</div>
					<div class="$--menu">
						<img alt="Menu" class="$--button" src="./media/images/menu.jpg">
						<nav class="$--links">
							<ul><!--
							 --><li><a href="http://blog.lesieur.name/">Home</a></li><!--
							 --><li class="is-selected"><a href="http://blog.lesieur.name/">Product</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">News</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">About</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">Design</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">Contact</a></li><!--
						 --></ul>
						</nav>
					</div>
				</div>
			</header>