			<header class="header-main">
				<div class="ui">
					<div class="header-main--logo">
						<a href="http://blog.lesieur.name/" title="Blog de Bruno Lesieur">
			                <img alt="Blog de Bruno Lesieur" src="./media/images/en-gb/website-logo.png">
			            </a>
		                <div class="header-main--breadcrumb"><a href="http://blog.lesieur.name/">Home</a> &gt; Product</div>
					</div>
					<div class="header-main--menu">
						<img alt="Menu" class="header-main--button" src="./media/images/menu.jpg">
						<nav class="header-main--links">						
							<ul><!--
							 --><li><a href="http://blog.lesieur.name/">Home</a></li><!--
							 --><li class="is-selected"><a href="http://blog.lesieur.name/">Product</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">News</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">About</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">Design</a></li><!--
							 --><li><a href="http://blog.lesieur.name/">Contact</a></li><!--
						 --></ul>
						</nav>
					</div>
				</div>
			</header>