<!DOCTYPE html>
<!--[if IE 9]><html lang="en-gb" class="ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en-gb"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>SublimeAtlas Component Example</title>

		<base href="<%= urlBasePath %>">

		<meta name="robots" content="noindex, nofollow" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" type="text/css" href="stylesheets/common.css" />
	</head>
	<body class="<%= specific.classLayout %>">
		<div class="layout">