			<section$ class="image-list">
				<div class="ui">
					<div class="image-list--list">
						<ul>
							<li>
								<p><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
							</li>
							<li>
								<p><a href="">Numquam ex similique cupiditate dolore eum fuga voluptate corporis, nam assumenda.</a></p>
							</li>
							<li>
								<p><a href="">cumque non itaque aliquam esse quasi excepturi ullam, consequuntur qui modi.</a></p>
							</li>
							<li>
								<p>
									<a href="">
										cumque non itaque aliquam esse quasi excepturi ullam, consequuntur qui modi. <br> 
										cumque non itaque aliquam esse quasi excepturi ullam, consequuntur qui modi.
									</a>
								</p>
							</li>
							<li>
								<p><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
							</li>
							<li>
								<p><a href="">Numquam ex similique cupiditate dolore eum fuga voluptate corporis, nam assumenda.</a></p>
							</li>
							<li>
								<p><a href="">cumque non itaque aliquam esse quasi excepturi ullam, consequuntur qui modi.</p>
							</li>
							<li>
								<p><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></p>
							</li>
						</ul>
					</div>
				</div>
			</section$>