			<section$ class="images-link">
				<div class="ui">
					<nav class="images-link--links">
						<ul>
							<li><a href=""><img src="./media/images/it-it/for-dog.png" alt="Per Cani"></a></li>
							<li><a href=""><img src="./media/images/it-it/for-house.png" alt="Per Ambianti"></a></li>
							<li><a href=""><img src="./media/images/it-it/for-cat.png" alt="Per Gatti"></a></li>
						</ul>
					</nav>
					<div class="overview">
						<p>
							<strong>Friskies Elementia Ultrasonic Repellente</strong> è la nuova soluzione di prevenzione quotidiana per prenderti cura, <br>
							in completa sicurezza, dei problemi causati dalla presenza di pulci e zecche per cani e gatti e dell’igiene per la tua casa: <br>
							<strong>assicura una protezione efficace per 10-12 mesi, allontanando i più comuni parassiti esterni</strong>.
						</p>
					</div>
				</div>
			</section$>