			<section$ class="images-link">
				<div class="ui">
					<nav class="images-link--links">
						<ul>
							<li><a href=""><img src="./media/images/for.png" alt=""></a></li>
							<li><a href=""><img src="./media/images/for.png" alt=""></a></li>
							<li><a href=""><img src="./media/images/for.png" alt=""></a></li>
						</ul>
					</nav>
					<div class="overview">
						<p>
							<strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod quaerat labore laudantium amet qui sapiente voluptate odit autem, id. Doloremque impedit laudantium tempore vitae consequuntur ad! Laborum libero magni dicta. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quos error tempora quaerat quam doloribus provident non iusto architecto cupiditate quasi ipsum necessitatibus facere mollitia ullam, eaque numquam! Quibusdam, magni!</strong>.
						</p>
					</div>
				</div>
			</section$>